.vs/
Core/PaymentGateway.Core.DataAccess/bin/
Core/PaymentGateway.Core.DataAccess/obj/PaymentGateway.Core.DataAccess.csproj.nuget.dgspec.json
Core/PaymentGateway.Core.DataAccess/obj/
Hosts/PaymentGateway.Hosts.WebApi/bin/Debug/netcoreapp3.1/appsettings.json
Hosts/PaymentGateway.Hosts.WebApi/bin/
Hosts/PaymentGateway.Hosts.WebApi/Logs/
Hosts/PaymentGateway.Hosts.WebApi/obj/
PaymentGateway.Services.DataContracts/obj/
Service/PaymentGateway.Services.Contracts/bin/
Service/PaymentGateway.Services.Contracts/obj/
Service/PaymentGateway.Services.DataAccessLayer/bin/
Service/PaymentGateway.Services.DataAccessLayer/obj/
Service/PaymentGateway.Services.DataContracts/bin/
Service/PaymentGateway.Services.DataContracts/obj/
Service/PaymentGateway.Services.Implementation/bin/
Service/PaymentGateway.Services.Implementation/obj/
Tests/PaymentGateway.Tests.Api/bin/
Tests/PaymentGateway.Tests.Api/obj/
Tests/PaymentGateway.Tests.Services/bin/
Tests/PaymentGateway.Tests.Services/obj/
